body{
	font-family: 'Lato', sans-serif;
}
.navlink{
	color: #0080ff;
}
.nav-item{
	margin-left: 3rem;
}
#forgetpassword{
	margin-left: 10rem;
}
.content-section{
	text-align: center;
	background-color: #ffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 5px;
}
.account-img{
	height: 125px;
	width: 125px;
}
.article-img{
	height: 50px;
	width: 50px;
}
.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}
.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}
.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.media{
	text-align: center;
}
.article-content{
	white-space: pre-line;
}
.text-muted{
	margin-left: 5rem;
}
.search-container{
	float: none;
	text-align: center;
}
